@media print {
    @page {
        size: auto;
        margin: 0;
    }
    .fixed-action-btn {
        display: none!important;
        color: white;
    }
     :host app-navigation {
        display: none;
    }
}